h1 {
    padding: 15px 5px;
    background: orange;
    width: 260px;
}

.instructions {
    padding: 15px 5px;
    background: rgb(255, 224, 165);
}

h2 {
    padding: 5px 0px 50px 5px;
    width: 200px;
    background: lightgreen;
    float: left;
}

.scoreboard {
    margin: 20px 0 0 10px;
    padding: 10px 20px;
    height: 65px;
    float: left;
    background: lightskyblue;
}

.images {
    clear: both;
}

.images img {
    height: 100px;
    width: 100px;
}

h4 {
    background: lightseagreen;
    padding: 5px;
    width: 300px;
    margin-bottom: 5px;
}

.number-div {
    background: lightseagreen;
    padding: 5px;
    width: 300px;
    height: 100px;
}